{% extends "baseweb.html.twig" %}
{% block body %}
    <body id="page5">
        <div class="main">
            <!-- content -->
            <article id="content">
                <h2 class="under">Recurso Humano</h2><br>
                <div class="wrapper">
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Movimientos</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seleccion</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seguridad social</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Contratacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Nomina</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Comercial</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Dotacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Salud ocupacional</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Informacion interna</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Recurso humano</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Control acceso</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Consultas</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Aspirantes seleccion</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Adicionales al pago</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Costos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Empleados</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Creditos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Servicios</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Pagos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Concepto de pago</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seguridad social</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Prestaciones</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seguridad social</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Acreditacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Dotacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Entidad Examen</a></li>
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">sedes</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">otros</a></li>
                            </ul>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Administracion</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Cliente</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Centro de trabajo</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Sucursal</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Grupo de pago</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Empleado</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Contratos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">General</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Contratacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seguridad social</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Salud ocupacional</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Seleccion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Acreditacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Dotacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Entidad Examen</a></li>
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">sedes</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">tros</a></li>  
                            </ul>
                        </div>                
                    </section>
                </div>
            </article>
        </div>
    </body>
{% endblock %}

