{% extends "baseweb.html.twig" %}
{% block body %}
    <body id="page5">
        <div class="main">
            <!-- content -->
            <article id="content">
                <h2 class="under">Acceso cliente</h2>
                <div class="wrapper">
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>1Teg Seguridad.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logo1teg.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/1teg/web/app.php/login" class="link1">Acceso</a>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Coordinar Seguridad.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logocoordinar.png')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/coordinar/web/app.php/login" class="link1">Acceso</a>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Galaxia seguridad Ltda.</h5>
                        <div class="wrapper pad_bot2">
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logogalaxia.png')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/galaxia/web/app.php" class="link1">Acceso</a>
                        </div><br><br>                
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>GR Temporales.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logogr.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de los recursos temporales</p>                            
                            <a href="http://181.129.28.122/sogercol/web/app.php/login" class="link1">Acceso</a>
                        </div>                 
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Seguridad Dorchester Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logodorchester.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/dorchester/web/app.php/login" class="link1">Acceso</a>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Seguridad Estelar Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoestelar.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                        </div><br><br>                
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Insep Seguridad Privada</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoinsepseguridad.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>                            
                            <a href="http://181.129.28.122/insep/web/app.php/login" class="link1">Acceso</a>
                        </div>                 
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Insep Servicios Generales</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoinsepservicios.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de los servicios generales</p>
                            <a href="http://181.129.28.122/insepservicios/web/app.php/login" class="link1">Acceso</a>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Serviconi</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoserviconi.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/serviconi/web/app.php/login" class="link1">Acceso</a>
                        </div><br><br>                
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Seguridad Eurovic Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoeuro.jpg')}}" width="100" height="80" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/eurovic/web/app.php" class="link1">Acceso</a>
                        </div>              
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Seguridad Plazas Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoplazas.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                            <a href="http://181.129.28.122/plazas/web/app.php/login" class="link1">Acceso</a>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Seracis Ltda.</h5>
                        <div class="wrapper pad_bot2"><br><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoseracis.png')}}" width="120" height="70" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>
                        </div><br><br>                
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Ole Movilidad.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logoole.jpg')}}" width="120" height="80" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en soluciones inteligentes de movilidad</p> 
                            <a href="http://181.129.28.122/ole/web/app.php/login" class="link1">Acceso</a>
                        </div>              
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Segurcol Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logosegurcol.png')}}" width="120" height="80" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p> 
                            
                        </div>              
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Horus</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logohorus.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de afiliaciones y cursos</p>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Soga</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logosoga.jpg')}}" width="120" height="80" alt=""></figure>
                            <p class="pad_bot1">Acceso administrativo Soga App</p>
                            <a href="http://181.129.28.122/soga/web/app.php/login" class="link1">Acceso</a>
                        </div>            
                    </section>
                   {# <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Segurcol Ltda.</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logosegurcol.png')}}" width="120" height="80" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de la seguridad privada</p>                            
                        </div>              
                    </section>#}
                    {#<section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Horus</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logohorus.jpg')}}" width="100" height="100" alt=""></figure>
                            <p class="pad_bot1">Cliente estrategico en el sector de afiliaciones y cursos</p>
                        </div>                
                    </section>#}
                    {#<section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Soga</h5>
                        <div class="wrapper pad_bot2"><br>
                            <figure class="left marg_right1"><img src="{{ asset('public/web/images/logos/logosoga.jpg')}}" width="120" height="80" alt=""></figure>
                            <p class="pad_bot1">Acceso administrativo Soga App</p>
                            <a href="http://181.129.28.122/soga/web/app.php/login" class="link1">Acceso</a>
                        </div>            
                    </section>#}
                </div>
            </article>
        </div>
    </body>
{% endblock %}

