{% extends "baseweb.html.twig" %}
{% block body %}
    <link href="{{ asset('public/Boostrap/css/app.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <body id="page5">
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">Ayuda nuevo</div>
                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
                        <div class="panel-body">
                            {{ form_row(form.moduloRel)}}
                            {{ form_row(form.funcionRel)}}
                            {{ form_row(form.grupoRel)}}
                            {{ form_row(form.nombre)}}
                            {{ form_row(form.orden)}}
                            {{ form_row(form.descripcion)}}
                            {{ form_row(form.contenido)}}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" target="_blank" href="{{ path('web_ayuda_detalle',{'codigoTema':arTema.codigoTemaPk}) }}">Vista previa</a>
                            {{ form_widget(form.guardar)}}
                        </div>
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>
    </body>

{% endblock %}

