{% extends "baseweb.html.twig" %}
{% block body %}
    <body id="page5">
        <div class="main">
            <!-- content -->
            <article id="content">
                <h2 class="under">Turno</h2><br>
                <div class="wrapper">
                    <section>
                        <h3><span class="dropcap"></span>Ciclo de turnos</h3><br><br>
                        <p class="pad_bot1">La aplicacion de turnos es un mecanismo de asignacion de horarios a un grupo de recursos con herramientas
                            que nos permiten controlar la eficiencia en el cumplimiento de los servicios. 
                            Con la recopilacion de los turnos es posible generar procesos de facturacion y nomina automaticamente,
                            recogiendo la informacion suministrada por las programaciones y ajustadas a la realidad del calendario, 
                            teniendo en cuenta los dias festivos, dominicales y compensaciones que maneje cada compañia.</p> 
                        <h2 class="under"></h2><br>
                        <img class="top" src="{{ asset('public/web/images/recursos/cicloprogramacionturnos.jpg')}} "width="980" height="700"><br>
                        <h2 class="under"></h2>
                    </section>
                </div>
                <div class="wrapper">
                    <section>
                        <h3><span class="dropcap"></span>Cotizacion</h3><br>
                        <p class="pad_bot1">Con este documento se hace uso de los conceptos de servicio que tienen asignadas unas horas diurnas y nocturnas
                            para cotizar el precio de la prestacion de un servicio determinado, basicamente radica en el calculo de las horas
                            en los dias especificados.<br>
                        </p> 
                        <h2 class="under"></h2><br>
                    </section>
                    <section>
                        <h3><span class="dropcap"></span>¿Pedido o servicio?</h3><br>
                        <p class="pad_bot1">Esta incongnita se resuelve con dos parametros: El servicio se va prestar en una sola ocacion o es permanente?<br><br>
                            1 - Ocacional: En este caso creamos directamente el pedido con base en la cotizacion, este pedido es creado una unica vez.
                            (Omitir creacion de servicio) en los dias especificados. <br><br>

                            2 - Permanente: En el caso de ser un servicio permanente el usuario no necesita crear un pedido con base en la cotizacion cada mes,
                            basta con crear un servicio permanente con el cual se crean automaticamente los pedidos cada mes.</p> 
                        <h2 class="under"></h2><br>
                    </section>
                    <section>
                        <h3><span class="dropcap"></span>Servicio</h3><br>
                        <p class="pad_bot1">Los servicios son una herramienta para la parametrizacion de un servicio permanente, que se presta mes a mes, con esto evitamos
                            crear pedidos manualmente cada mes.<br>
                            Su eficiencia y exactitud dependen de una buena gestion de los recursos de las plantillas con que se presta el servicio.
                            Cabe aclararse qeu los servicios no son facturables ni programables solo sirven como base para crear un pedido.
                        <h2 class="under"></h2><br>
                    </section>
                    <section>
                        <h3><span class="dropcap"></span>Pedidos</h3><br>
                        <p class="pad_bot1">Los pedidos son la base de la programacion de turnos, ya que estos son el eje entre facturacion, programacion y nomina.
                            Un pedido se puede programar cuando este autorizado y en el caso de ser creado automaticamente desde un servicio, este hereda los recursos 
                            con los cuales se debe programar.
                        <h2 class="under"></h2><br>
                    </section>
                    <section>
                        <h3><span class="dropcap"></span>Programaciones</h3><br>
                        <p class="pad_bot1">La programacion es la ultima estancia del ciclo de turnos y es aqui donde se procesan las programaciones de los pedidos de servicio.
                            Solo se pueden programar pedidos.<br>
                            La programacion puede variar en recuros y en turnos dependiendo de las necesidades que se presenten en la prestacion del servicio.
                        <h2 class="under"></h2><br>
                    </section>
                </div><br><br>
                <div class="wrapper">
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Movimientos</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Cotizacion</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Servicio</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Pedido</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Programacion</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Factura</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Novedad</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Control puesto</a></li>  
                            </ul>
                        </div>
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Consultas</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Recursos</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Servicios</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Pedidos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Programaciones</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Facturas</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Costos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Puesto</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Soporte de pago</a></li>    
                            </ul>
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Administracion</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Cliente</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Recursos</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Turno</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Operaciones</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Generales</a></li>  
                            </ul>
                        </div><br><br><br><br>              
                    </section>
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Utilidades</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Programaciones</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Serivicios</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Factura</a></li>  
                            </ul>
                        </div>
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Procesos</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Generar pedidos</a></li>    
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Generar facturas</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Generar programaciones</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Generar soporte de pago</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Cierre mes</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Mantenimiento</a></li>  
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Contabilizar</a></li>  
                            </ul>
                        </div>
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Procesos</h5>
                        <div class="wrapper pad_bot2"><br>
                            <ul id="icons2">
                                <li><a href="{{ path('web_documentacion') }}" alt="Seleccion"><img src="{{ asset('public/web/images/buttons.png')}}">Reportes</a></li>      
                            </ul>
                        </div>
                    </section>                    
                </div>
                <h2 class="under"></h2>
            </article>
        </div>
    </body>
{% endblock %}

