{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Listado de Incidencias</div>
                    <div class="panel-body">
                        <table id="lista" class="table table-striped table-bordered table-condensed table-hover">
                            <thead>
                                <tr class="primary">
                                    <th>Id</th>
                                    <th>Titulo</th>
                                    <th>Prioridad</th>
                                    <th>Categoria</th>
                                    <th>Fecha</th>
                                    <th>Ate</th>
                                    <th>Sol</th>
                                    <th>Tareas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for caso in casos %}
                                    <tr>
                                        <td>{{ caso.codigoIncidenciaPk }}</td>
                                        <td>{{ caso.titulo }}</td>
                                        <td>{{ caso.prioridadRel.nombre }}</td>
                                        <td>{{ caso.categoriaRel.nombre}}</td>
                                        <td>{{ caso.fechaRegistro|date('d/m/Y H:i') }}</td>
                                        <td>{%if caso.estadoAtendido == 0 %}  No {%else%}  Si  {% endif %}</td>
                                        <td>{%if caso.estadoSolucionado == 0 %}  No {%else%}  Si  {% endif %}</td>
                                        <td>
                                            <a href="{{ path('caso_detalle',{'codigoIncidenciaPk':caso.codigoIncidenciaPk}) }}"
                                               <button title="Ver detalle" class="btn btn-primary">
                                                    <i class="glyphicon glyphicon-book"></i>
                                                </button>
                                            </a>
                                            {% if app.user.codigoRolFk == 1 %}
                                            <a href="{{ path('caso_nuevo',{'codigoIncidenciaPk':caso.codigoIncidenciaPk}) }}"
                                               <button title="Editar" class="btn btn-success">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </button>
                                            </a>
                                            <a href="{{ path('caso_eliminar',{'codigoIncidenciaPk':caso.codigoIncidenciaPk}) }}"
                                               <button title="Editar" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </a>
                                            {% endif  %}
                                            </td>
                                        </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" align="center">
                                            <a href="{{ path('caso_nuevo',{'codigoIncidenciaPk':0}) }}">
                                                <button class="btn btn-success">Nuevo</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}

