{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Crear incidencia</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="form-group" >
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form_label(form.titulo)}}
                                            {{ form_widget(form.titulo,{'attr':{'class':'form-control','placeholder':'Titulo del caso'}})}}
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label class="control-label">Priodad</label>
                                            {{ form_widget(form.prioridadRel,{'attr':{'class':'form-control','placeholder':'.:Seleccione:.'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label class="control-label">Categoria</label>
                                            {{ form_widget(form.categoriaRel,{'attr':{'class':'form-control','placeholder':'Categoria'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label class="control-label">Grupo</label>
                                            {{ form_widget(form.grupoRel,{'attr':{'class':'form-control','placeholder':'Cliente'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label for="adjunto">Adjuntos</label>
                                            <input type="file" name="adjunto[]" id="adjunto" multiple />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            {{ form_label(form.descripcion)}}
                                            {{ form_widget(form.descripcion,{'attr':{'class':'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" aling ="left">
                                            <br>
                                            {{form_widget(form.guardar,{'attr':{'class':'btn btn-primary'}}) }}
                                            <a href="{{path('caso_lista')}}">
                                                <button type="button" class="btn btn-default">Volver</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-danger">{{ form_errors(form)}}</div>
                                {{ form_end(form)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

