{% extends "base.html.twig" %}
{% block body %}
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Detalle tarea</div>
                        <div class="panel-body">
                            <div class="box-body table-responsive no-padding">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <table width="100%" class="tamaño table table-condensed table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="active"><strong>Id:</strong></td>
                                                <td>{{arTarea.codigoTareaPk}}</td>
                                            </tr>
                                            <tr>
                                                <td class="active"><strong>Tipo tarea:</strong></td>
                                                <td>{{arTarea.tipoTareaRel.nombre}}</td>
                                            </tr>                     
                                            <tr>
                                                <td class="active"><strong>Prioridad:</strong></td>
                                                <td>{{arTarea.prioridadRel.nombre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <table width="100%" class="tamaño table table-condensed table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="active" colspan="2"><strong>Usuario asignado:</strong></td>
                                                <td colspan="2">{{arTarea.usuarioAsignadoRel.username}}</td>
                                            </tr>
                                            <tr>
                                                <td class="active" colspan="2"><strong>Fecha Inicio:</strong></td>
                                                <td colspan="2">{{arTarea.fechaInicio | date('d/m/Y H:i')}}</td>
                                            </tr>
                                            <tr>
                                                <td class="active" colspan="2"><strong>Fecha Fin:</strong></td>
                                                <td colspan="2">{{arTarea.fechaFinal | date('d/m/Y H:i')}}</td>
                                            </tr>
                                            <tr>
                                                <td class="active"><strong>Porcentaje:</strong></td>
                                                <td>
                                                    {{arTarea.porcentaje}}%
                                                </td>
                                                <td class="active"><strong>Finalizado:</strong></td>
                                                <td>
                                                    {% if (arTarea.finalizado == 0)%}No{% else %} Si {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <table width="100%" class="tamaño table table-condensed table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="active"><strong>Descripci&oacute;n:</strong></td>
                                            </tr>
                                            <tr>
                                                <td>{{arTarea.descripcion}}</td>
                                            </tr>
                                            <tr>
                                                <td class="active"><strong>Soluci&oacute;n:</strong></td>
                                            </tr>
                                            <tr>
                                                <td>{{arTarea.comentario}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Finalizar</div>
                        <div class="panel-body">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} })  }}
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label">Porcentaje</label>
                                    {{ form_widget(form.porcentaje,{'attr':{'class':'form-control input-sm','placeholder':'porcentaje'}}) }}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label">Finalizado</label>
                                    {{ form_widget(form.finalizado,{'attr':{'class':'form-control input-sm'}}) }}
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="control-label">{{ form_label(form.comentario)}}</label>
                                    {{ form_widget(form.comentario,{'attr':{'class':'form-control input-sm','rows':'10','placeholder':'Registrar su comentario'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{{path('tarea_lista')}}" class="btn btn-default btn-sm">Cancelar</a>
                                {{form_widget(form.guardar,{'attr':{'class':'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

