{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Tareas pendientes</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="lista" class="tamaño table table-striped table-condensed table-hover table-bordered">
                                <thead>
                                    <tr class="primary">
                                        <th class="active">Id</th>
                                        <th class="active">Descripcion</th>
                                        <th class="active">Prioridad</th>
                                        <th class="active">Tipo</th>
                                        <th class="active">Asig a</th>
                                        <th class="active">Fecha ini</th>
                                        <th class="active">Fecha fin</th>
                                        <th class="active">%</th>
                                        <th class="active">Finalizado</th>
                                        <th class="active"></th>
                                        <th class="active"></th>
                                        <th class="active"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for arTarea in arTarea %}
                                        <tr>
                                            <td>{{ arTarea.codigoTareaPk }}</td>
                                            <td>{{ arTarea.descripcion}}</td>
                                            <td>{{ arTarea.prioridadRel.nombre }}</td>
                                            <td>{{ arTarea.tipoTareaRel.nombre}}</td>
                                            <td>{{ arTarea.usuarioAsignadoRel.username}}</td>
                                            <td>{{ arTarea.fechaInicio|date('d/m/Y') }}</td>
                                            <td>{{ arTarea.fechaFinal|date('d/m/Y') }}</td>
                                            <td>{{ arTarea.porcentaje }}</td>
                                            <td>{%if arTarea.finalizado == 0 %}  No {%else%}  Si  {% endif %}</td>
                                            <td style="text-align: center">
                                                <a href="{{ path('tarea_nuevo',{'codigoTarea':arTarea.codigoTareaPk}) }}">
                                                    <img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar">    
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('tarea_detalle',{'codigoTarea':arTarea.codigoTareaPk}) }}">
                                                    <img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=20 height=20 title="Detalle">
                                                </a>
                                            </td>
                                            <td style="text-align: center">
                                                {% if app.user.rolRel.nombre == "ROLE_SUPER_ADMIN" %}
                                                    <input type="checkbox" name="ChkSeleccionar[]" value="{{ arTarea.codigoTareaPk }}" />
                                                {% endif  %}
                                            </td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-toolbar">            
                            <div class="btn-group" style="float: left;padding-top: 20px;">
                                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arTarea.getTotalItemCount }}</span></div>                        
                            </div>
                            <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                                {{ knp_pagination_render(arTarea) }}       
                            </div>
                            <div class="btn-group" style="float: right;padding-top: 20px;">
                                {% if app.user.rolRel.nombre == "ROLE_SUPER_ADMIN" %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('tarea_nuevo',{codigoTarea:0}) }}">Nuevo</a>
                                    {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                                {% else %}
                                    <div style="display: none">{{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Tareas terminadas</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="lista" class="tamaño table table-striped table-condensed table-hover table-bordered">
                                <thead>
                                    <tr class="primary">
                                        <th class="active">Id</th>
                                        <th class="active">Descripcion</th>
                                        <th class="active">Prioridad</th>
                                        <th class="active">Tipo</th>
                                        <th class="active">Asig a</th>
                                        <th class="active">Fecha ini</th>
                                        <th class="active">Fecha fin</th>
                                        <th class="active">%</th>
                                        <th class="active">Fin</th>
                                        <th class="active">rev</th>
                                        <th class="active"></th>
                                        <th class="active"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for arTareaFinalizado in arTareaFinalizado %}
                                        <tr>
                                            <td>{{ arTareaFinalizado.codigoTareaPk }}</td>
                                            <td>{{ arTareaFinalizado.descripcion}}</td>
                                            <td>{{ arTareaFinalizado.prioridadRel.nombre }}</td>
                                            <td>{{ arTareaFinalizado.tipoTareaRel.nombre}}</td>
                                            <td>{{ arTareaFinalizado.usuarioAsignadoRel.username}}</td>
                                            <td>{{ arTareaFinalizado.fechaInicio|date('d/m/Y') }}</td>
                                            <td>{{ arTareaFinalizado.fechaFinal|date('d/m/Y') }}</td>
                                            <td>{{ arTareaFinalizado.porcentaje }}</td>
                                            <td>{%if arTareaFinalizado.finalizado == 0 %}  No {%else%}  Si  {% endif %}</td>
                                            <td>{%if arTareaFinalizado.revisado == 0 %}  No {%else%}  Si  {% endif %}</td>
                                            <td style="text-align: center">
                                                <a href="{{ path('tarea_nuevo',{'codigoTarea':arTareaFinalizado.codigoTareaPk}) }}">
                                                    <img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar">    
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('tarea_detalle',{'codigoTarea':arTareaFinalizado.codigoTareaPk}) }}">
                                                    <img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=20 height=20 title="Detalle">
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                                <div class="btn-toolbar">            
                            <div class="btn-group" style="float: left;padding-top: 20px;">
                                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arTareaFinalizado.getTotalItemCount }}</span></div>                        
                            </div>
                            <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                                {{ knp_pagination_render(arTareaFinalizado) }}       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</body>
{% endblock %}

